.regi-content
  .title
    .title__admin
      管理者用
    .title__menu
      生徒登録画面

  .form
    = form_for @student do |f|
      .form__name
        = f.label :name, "Name:"
        = f.text_field :name, autofocus: true

      .form__image
        = f.label :image, "Icon-image:"
        = f.text_field :image, autofocus: true

      .form__button
        = f.submit "登録", class: "form_btn"