.wrapper
  .ad-title 
    Administrator
  .ad-sub-title
    Log in 

  .form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form__box
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .form__box
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
    
      .actions
        = f.submit "Log in"
      
      .links
        = render "devise/shared/links"




