!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Roominous
    = csrf_meta_tags
    = csp_meta_tag
    / IE互換表示用metaタグ
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Bootstrap CDN-JS読み込み
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}/
    / jQuery読み込み
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .main-title
        =link_to "/" do
          TEC-English
          
      .admin-box
        .admin-box__button
        - if admin_signed_in?
          .log-in-box
            = link_to  destroy_admin_session_path, method: :delete do
              =image_tag 'room.png',class: 'admin-img'
        - else
          .log-in-box
            = link_to new_admin_session_path, class: 'post' do
              -# =image_tag 'room.png',class: 'admin-img'
              ログイン
            = link_to new_admin_registration_path, class: 'post' do
              -# =image_tag 'room.png',class: 'admin-img'
              新規登録

    = yield